.header {
  background: transparent;
  padding-top: 6px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 14px;
  }
}

.header-container {
}

.nav {
  backdrop-filter: blur(30px);
  background: rgba(37, 99, 235, 0.1);
  border: 1px solid #2563eb;
  border-radius: 100px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;

  @include media(desktop) {
    gap: 12px;
  }
}

.header-span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #374151;

  @include media(desktop) {
    font-size: 32px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.nav-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #374151;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #374151;
}

.close-icon {
  stroke: #374151;
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-is-open {
  border: 1px solid #2563eb;
  border-bottom: none;
  border-radius: 40px 40px 0 0;
}
