.context-menu {
  display: none;
  backdrop-filter: blur(30px);
  background: rgba(37, 99, 235, 0.1);
  border: 1px solid #2563eb;
  border-top: none;
  border-radius: 0 0 40px 40px;
  padding: 0 16px 16px 16px;
  justify-content: end;
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 69px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
}

.context-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: right;
  color: #374151;
  transition: all 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
