<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#intro">Intro</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#services">Services</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#benefits">Benefits</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#process">Process</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#models"
          >Campaign Models</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#studies"
          >Case Studies</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#blog">Blog</a>
      </li>
    </ul>
  </nav>
</div>
